body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    margin: 0;
    font-family: 'Pixelify Sans', sans-serif;
    color: white;
    font-weight: 100;
    font-size: 70px;
    line-height: 100px;
    margin-left: 20px;
}
h4{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-transform: uppercase;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
    font-weight: 750;
    font-size: 16px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: 200;
    font-size: 14px; 
    column-count: 2;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: white;
}
a:active{
    color: white;
    text-decoration: none;
}
a p{
    /* styling the paragraph text that is also a link (a) */
    background-color: rgba(100%, 100%, 100%, 0);
    transition: .3s;
    column-count: 1;
}
a p:hover{
    /* styling the linked paragraph text's hover state */
    color:blue;
}
#container{
    width: 800px;
    height: auto;
    background-image: url(../images/screen7.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    position: relative;
    /* padding at the bottom creates space below the last link */
    padding-bottom: 20px;
}
#masthead{
    height: 100px;
    background-image: url(../images/screen7.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}
#links-block{
    width: 50%
}
#hourglass{
    position: absolute;
    width: 100px;
    right: 0;
    bottom: 15px;
}